<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Renter</title>
	<%- include('../bootstrap-css') %>
</head>
<body>
	<%- include('../navbar') %> 
	<div class="container">
		<span><h1>Hi, <%= table.name %> </h1></span>
		<div class="row">
			<div class="col-sm">
				<h2>Renter Bio</h2>
				<table class="table table-striped table-bordered table-hover" style="width:100%">
					<tr>
						<th>Name</th>
					</tr>
					<tr>
						<td><%= table.name %> (<%= table.username %>)</td>
					</tr>
				</table>
		<% if (table.Booking === null) { %>
				<div class="card">
					<div class="card-body" style="text-align: center;">
						<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/renter/availablecars'">You dont have booking yet. Click here to choose available cars!</button>
					</div>
				</div>
			</div>
		</div>
		<% } else { %> 
		<div class="row d-flex">
			<div class="col-sm-7">
				<h2>Booking Details</h2>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Start Date</h6>
						</div>
						<span class="text-muted"><%= helpers.dateFormatter(table.Booking.startDate) %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Payment Status</h6>
						</div>
						<span class="text-muted"><%= table.Booking.paymentStatus %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Rent Status</h6>
						</div>
						<span class="text-muted"><%= (table.Booking.bookStatus) ? (helpers.daysLeft(table.Booking.startDate, table.Booking.rentDay) === 0) ? `Your rent is due` : `Renting - ${helpers.daysLeft(table.Booking.startDate, table.Booking.rentDay)} day(s) left` : (table.Booking.paymentStatus !== 'Paid') ? `Waiting for Payment` : helpers.isToday(table.Booking.startDate) ? `Booked` : `Ready to Start` %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Action</h6>
						</div>
						<div>
							<% if (table.Booking.paymentStatus !== 'Paid') { %> 
							<a class="btn btn-primary" href="/renter/bookingdetail/pay" role="button">Pay Booking</a>
							<% } else if (table.Booking.paymentStatus === "Paid" && table.Booking.bookStatus === false) { %>
								<% if (helpers.isToday(table.Booking.startDate)) { %> 
							<a class="btn btn-primary" href="/renter/bookingdetail/startrent/?carId=<%= table.Booking.Car.id %>" role="button">Start rent</a>
								<% } %> 
							<% } else { %>
							<a class="btn btn-primary" href="/renter/bookingdetail/moveLoc/?carId=<%= table.Booking.Car.id %>" role="button">Update Location</a>
							<% } %> 
							<a class="btn btn-primary" href="/renter/bookingdetail/cancel/?carId=<%= table.Booking.Car.id %>" role="button">Cancel Booking</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm">
				<h2>Car Details</h2>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Brand</h6>
						</div>
						<span class="text-muted"><%= table.Booking.Car.brand %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Type</h6>
						</div>
						<span class="text-muted"><%= table.Booking.Car.type %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Owner Name</h6>
						</div>
						<span class="text-muted"><%= table.Booking.Car.Owner.name %></span>
					</li>
				</ul>
			</div>
		</div>
		<% } %> 
	</div>
	<%- include('../bootstrap-js') %> 
</body>
</html>