<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= pageTitle %></title>
	<%- include('../bootstrap-css') %>
</head>
<body>
	<%- include('../navbar') %>
	<div class="container">
		<div class="d-flex">
			<div class="col-sm-8">
				<h4>Book Detail</h4>
				<form method="POST" action="/renter/book">
					<div class="form-group">
						<label for="startDate">Start Date</label>
						<input type="date" class="form-control" id="startDate" name="startDate" required>
					</div>
					<div class="form-group">
						<label for="rentDays">Rent Duration (days)</label>
						<input type="number" class="form-control" id="rentDays" name="rentDays" min="1" required>
					</div>
					<div class="form-group">
						<label for="price">Rental Price</label>
						<input type="text" class="form-control" id="price" value="<%= data.car.decimalFormatting(data.car.rentalPrice) %>" readonly>
					</div>
					<input type="hidden" id="rentalPrice" value="<%= data.car.rentalPrice %>">
					<div class="form-group">
						<label for="totalPrice">Total Price</label>
						<input type="text" class="form-control" id="totalPrice" readonly>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Book</button>
						<button class="btn btn-primary" onclick="window.history.go(-1);">Cancel</button>
					</div>
				</form>
			</div>
			<div class="col-sm">
				<h4>Car Detail</h4>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Brand</h6>
						</div>
						<span class="text-muted"><%= data.car.brand %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Type</h6>
						</div>
						<span class="text-muted"><%= data.car.type %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Owner</h6>
						</div>
						<span class="text-muted"><%= data.owner.name %></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		let days = document.getElementById('rentDays');
		days.oninput = getRentPrice;
		function getRentPrice (e) {
			
			let price = document.getElementById('rentalPrice');
			let total = document.getElementById('totalPrice');
			total.value = (parseInt(this.value) * parseInt(price.value)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
	</script>
	<%- include('../bootstrap-js') %>
</body>
</html>